services:

  # Postgres Database
  postgres:
    image: postgres:17  # Debian-based, version 17
    container_name: rusty_pg
    environment:
      - POSTGRES_USER=myuser
      - POSTGRES_PASSWORD=mypassword
      - POSTGRES_DB=reactor_queue
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    restart: always

  # Redis Cache
  redis:
    image: redis:7      # Debian-based
    container_name: rusty_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: always

volumes:
  pg_data:
  redis_data: